body{
    background-color: #5C9CC8;
    color: #ffffff;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
}

#addToList{
    background-color: #96C1DE;
    border-style: dashed;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.buy{
    background-color: #96C1DE;
    border-style: solid;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.buyNext{
    background-color: #96C1DE;
    border-color: #ED4E4E;
    border-style: solid;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.boxInput{
    padding: 10px;
    background-color: #77B3DC;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    display: flex;
}
input::placeholder{
    color: #ffffff;
}
input[type=checkbox]{
    height: 50px;
    width: 50px;
}
.fa-trash{
    font-size: 30px;
    margin: 12px;
}
.fa-pen{
    font-size: 30px;
    margin-top: 12px;
}